.App-Products-Row{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.App-Products-Box{
    margin:15px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    font-style: oblique;

}

.App-Products-Box button{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
}
